/* body {
	background-color: lightblue;
} */

#leftdiv {
	display: block;
	float: left;
}

#rightdiv {
	display: block;
  float: right;
	min-width: 300px;
}

button {
    display: block;
}

select {
    display: block;
}

div {
  word-wrap: break-word;
}
